body {
    /*Es el margen*/
    margin: 0;
    /*Es el espacio de relleno requerido por todas partes de un elemento que en este caso es el body*/
    padding: 0;
    /*Este es el tamaño de la letra en el body*/
    font-size: 16px;
    /*Este es el tipo de letra del body*/
    font-family: Roboto,-apple-system,BlinkMacSystemFont,Segoe UI,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}
a {
    /*Esto es para quitar la decoracion del texto*/
    text-decoration: none;
    /*Esto es para que cuando el cursor lo pase cambie al dedito*/
    cursor: pointer;
    display: inline;
    color: #000000;
    
}
header {
    /*Esto es el ancho*/
    width: 100%;
    /*Esta es la altura de el header*/
    height: 90px;
    /*Esto es para la cantidad de negrilla que tiene las letras*/
    font-weight: 500;
    background-color: #D8D8D8;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0%;
    
}

/*Esto es para controllar la seccion izquierda del encabezado*/
header nav .nav-section-left {
    display: flex;
    justify-content: flex-start;
    justify-self: flex-start;
    list-style: none;
}
/*Esto es para controllar la seccion del  centro del encabezado*/
header nav .nav-section-center {
    display: flex;
    justify-content: center;
    justify-self: center;
    
}
/*Esto es para controllar la seccion derecha del encabezado*/
header nav .nav-section-right {
    display: flex;
    justify-content: flex-end;
    justify-self: flex-end;
    
}




/*SECCION UNO DEL HEADER*/
/*Esto es para controllar toda la seccion de la izquierda*/
header nav .nav-left-section{
    width: 250px;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: flex-start;
    /*Esto es parta ver si estara en el centro arriba o abajo en el header*/
    align-items: center;

}
/*Esto es el controlador de la imagen de logo*/
nav .home-icon img {
    height: 60px;
    width: auto;
}

/*SECCION DOS DEL HEADER*/
/*Este es el controlador del centro de las ventanas*/
header nav .nav-center-section {
    /*Esto es el ancho*/
    width: 250px;
    /*Esta es la altura del ul alque tiene esta clase, se le pone auto para que tenga la misma
    altura que su padre que es el header nav*/
    height: auto;
    display: flex;
    /*Esto es para que quite el redondo del ul que tiene cada lista a la izquierda para 
    el encabezado*/
    list-style: none;
    justify-content: center;
    align-items: center;
    
    
}
/*Esto es para controlar las letras*/
header nav .nav-center-section  a{
    /*Esto es par adistancia entre cada palabra "a"*/
    margin: 100px;
    /*margin-right: 10px;*/
    color: #000000;
}

/*SECCION TRES DEL HEADER*/

header nav .nav-right-section {
    width: 250px;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
}

header nav .nav-right-section a {
    /*Esto es para la distancia de las palabras*/
    margin-right: 100px;
    color: #000000;
}

nav .nav-right-section img {
    height: 20px;
    width: auto;
}
/*
nav .nav-busqueda-right input {
    width: 200px;
    height: auto;
    display: flex;
    list-style: none;
    
}
*/
